{% extends 'votes/base.html' %}
{% load humanize %}

{% block title %}
  Sentencias de Otorongos Elecciones 2021
{% endblock title %}

{% block content %}
  <h3>Lista de organizaciones políticas que postulan a elecciones generales 2021 ordenados por número de sentencias declaradas</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Organización política</th>
      <th>Total Sentencias</th>
      <th>Sentencias penales</th>
      <th>Sentencias de obligaciones</th>
    </tr>

    </thead>
    <tbody>
      {% for org in orgs %}
        <tr>
          <td>
            <a href="/2021/sentencias/{{ org.idOrganizacionPolitica }}/">{{ org.name }}</a>
          </td>
          <td>
            <b>{{ org.total_sentencias|intcomma }}</b>
          </td>
          <td>
            {{ org.total_sentencia_penal|intcomma }}
          </td>
          <td>
            {{ org.total_sentencia_obliga|intcomma }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page.has_previous or page.has_next %}
    <div class="text-center">
      <nav>
        <ul class="pagination">
          {% if page.has_previous %}
            <li class="page-item">
              <a
                aria-label="Previous"
                href="?page={{ page.previous_page_number }}"
                class="page-link"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for i in page.paginator.paginate_sections %}
            {% if page.number == i %}
              <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% elif i == None %}
              <li class="disabled page-item"><a class="page-link" href="#">…</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page.has_next %}
            <li class="page-item">
              <a aria-label="Next" class="page-link" href="?page={{ page.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}

        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock content %}
